@model IEnumerable<GerenciadorTurma.FrontEnd.Models.Turma>

@{
    ViewData["Title"] = "Index";
}

<h1>Turmas</h1>

<p>
    <a asp-action="Create">Criar nova turma</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Curso Id
            </th>
            <th>
                Turma
            </th>
            <th>
                Ano
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Curso_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.turma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a> |
                    <a asp-action="ListaAlunosTurma" asp-route-id="@item.Id">Alunos Cadastrados</a>
            </td>
        </tr>
}
    </tbody>
</table>
